@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .text-outline-hover {
    -webkit-text-stroke: 1px #03ebeb;
  }
}

.blinking-cursor {
  animation: blink 1.8s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

